<div data-content-region="header_above--global"><div data-layout-id="c758c575-207d-48b8-b60a-ba91fc32e7e4"><div data-sub-layout-container="ebe0d8a8-866d-4a70-8a89-de51eb2515d2" data-layout-name="Layout">
  <style data-container-styling="ebe0d8a8-866d-4a70-8a89-de51eb2515d2">
    [data-sub-layout-container="ebe0d8a8-866d-4a70-8a89-de51eb2515d2"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="ebe0d8a8-866d-4a70-8a89-de51eb2515d2"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="7085d3c2-9fb9-42aa-b03b-34ffaad7169d">
    <style data-column-styling="7085d3c2-9fb9-42aa-b03b-34ffaad7169d">
      [data-sub-layout="7085d3c2-9fb9-42aa-b03b-34ffaad7169d"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="7085d3c2-9fb9-42aa-b03b-34ffaad7169d"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="7085d3c2-9fb9-42aa-b03b-34ffaad7169d"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
  </div>
</div></div></div>
<div data-content-region="header_above"></div>
<main class="body" id="main-content" role="main" data-currency-code="GBP">
    
    <div data-content-region="home-hero"><div data-layout-id="7124ea16-c07b-4144-8fa1-d02b608d6ce6"><div data-sub-layout-container="de6a62b7-cb34-4409-ae3a-0d2a3e3ad331" data-layout-name="Layout">
  <style data-container-styling="de6a62b7-cb34-4409-ae3a-0d2a3e3ad331">
    [data-sub-layout-container="de6a62b7-cb34-4409-ae3a-0d2a3e3ad331"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="de6a62b7-cb34-4409-ae3a-0d2a3e3ad331"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="e7a702a9-e31f-48ad-af72-9ca263f9e823">
    <style data-column-styling="e7a702a9-e31f-48ad-af72-9ca263f9e823">
      [data-sub-layout="e7a702a9-e31f-48ad-af72-9ca263f9e823"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="e7a702a9-e31f-48ad-af72-9ca263f9e823"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="e7a702a9-e31f-48ad-af72-9ca263f9e823"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="8d2fd070-6f81-45d3-8cfd-753433f6b643" data-placement-id="9395037d-1cb1-45fc-af00-292422b2a219" data-placement-status="ACTIVE"><section class="hero">
    <div class="hero__container">
        <div class="hero__image-container">
            
                <img class="hero__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/newborn-frame.jpg?t=1663250940" alt="newborn family picture framed in a home by Emotion Studios photography" title="newborn family picture framed in a home by Emotion Studios photography">
        </div>

        <div class="hero__content">
            <h1 class="hero__headline">Capturing family stories since 2004</h1>
            <p>We are a bespoke photography studio serving Shropshire, Wolverhampton, the West Midlands and surrounding area.</p>
            <a class="button" href="/shoots/">Start Your Story</a>
        </div>
    </div>
</section>
</div>
  </div>
</div>
<div data-sub-layout-container="032efb8e-9f1f-40e1-b6db-e98b7fba84b0" data-layout-name="Layout">
  <style data-container-styling="032efb8e-9f1f-40e1-b6db-e98b7fba84b0">
    [data-sub-layout-container="032efb8e-9f1f-40e1-b6db-e98b7fba84b0"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      background-color: rgba(242, 242, 242, 1);
      padding-top: 60px;
      position: relative;
    }
    [data-sub-layout-container="032efb8e-9f1f-40e1-b6db-e98b7fba84b0"]:after {
      background-position: center center;
      background-size: cover;
      z-index: -2;
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="7a1f884e-3af6-41ed-8740-7db4bb953f30">
    <style data-column-styling="7a1f884e-3af6-41ed-8740-7db4bb953f30">
      [data-sub-layout="7a1f884e-3af6-41ed-8740-7db4bb953f30"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="7a1f884e-3af6-41ed-8740-7db4bb953f30"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="7a1f884e-3af6-41ed-8740-7db4bb953f30"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="072564bc-e8dc-483b-82e3-beb24d973574" data-placement-id="d7cf5763-7ba6-4154-a0a9-d4c8a82b1d8c" data-placement-status="ACTIVE"><h2 style="text-align: center;">
  Start Your Story
</h2>
</div><div data-widget-id="4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7" data-placement-id="16c1b3ab-efae-4e08-b8e9-2aa10afe24ac" data-placement-status="ACTIVE"><style>
    .sd-simple-text-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7 {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;

      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;

    }

    .sd-simple-text-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7 * {
      margin: 0;
      padding: 0;

        color: rgba(68,68,68,1);
        font-family: inherit;
        font-weight: 500;
        font-size: 20px;
        min-height: 20px;

    }

    .sd-simple-text-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7 {
        text-align: center;
    }

    #sd-simple-text-editable-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7 {
      min-width: 14px;
      line-height: 1.5;
      display: inline-block;
    }

    #sd-simple-text-editable-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7[data-edit-mode="true"]:hover,
    #sd-simple-text-editable-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7[data-edit-mode="true"]:active,
    #sd-simple-text-editable-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7[data-edit-mode="true"]:focus {
      outline: 1px dashed #3C64F4;
    }

    #sd-simple-text-editable-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7 strong,
    #sd-simple-text-editable-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7 strong * {
      font-weight: bold;
    }
</style>

<div class="sd-simple-text-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7 ">
  <div id="sd-simple-text-editable-4958fcda-96f4-4e94-bcbe-91bc2c3dc7d7" data-edit-mode="">
    <p>At Emotion Studios photography studio we offer lots of different photography shoots, to start your story and find the perfect shoot for you select from one of the categories below to get started</p>
  </div>
</div>

</div>
  </div>
</div></div></div>


<div class="main full">
    <div data-content-region="main-content-gallery"><div data-layout-id="bd84d0bc-6595-419a-814c-4433635f1fe3"><div data-sub-layout-container="ce231f1c-e164-4aa6-8c95-4a087c0270a6" data-layout-name="Layout">
  <style data-container-styling="ce231f1c-e164-4aa6-8c95-4a087c0270a6">
    [data-sub-layout-container="ce231f1c-e164-4aa6-8c95-4a087c0270a6"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="ce231f1c-e164-4aa6-8c95-4a087c0270a6"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="03924cc5-499f-44a3-b295-db4ce08c53af">
    <style data-column-styling="03924cc5-499f-44a3-b295-db4ce08c53af">
      [data-sub-layout="03924cc5-499f-44a3-b295-db4ce08c53af"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="03924cc5-499f-44a3-b295-db4ce08c53af"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="03924cc5-499f-44a3-b295-db4ce08c53af"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="35c167da-2b9a-40c9-9bd2-86d7192cd95f" data-placement-id="27d739a2-0c10-43bd-bd47-76428e3d5163" data-placement-status="ACTIVE"><section class="gallery gallery--grey">
    <div class="container">
        <div class="gallery__columns">
            <div class="gallery__column">
                <div class="gallery__item">
                    <a href="/shoots/bumps-babies/" class="gallery__link">
                        <span class="gallery__image-container">
                            <img class="gallery__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-2487canvas.jpg?t=1663249495" alt="newborn photograph of baby in a basket at Emotion Studios" title="newborn photograph of baby in a basket at Emotion Studios">
                        </span>
                        <span class="gallery__text">Bumps &amp; Babies</span>
                    </a>
                </div>
                <div class="gallery__item">
                    <a href="/shoots/couples-makeovers/" class="gallery__link">
                        <span class="gallery__image-container">
                            <img class="gallery__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-0494-copy.jpg?t=1662720299" alt="couple embracing each other on a dark studio background during a couples photo shoot with Emotion Studios" title="couple embracing each other on a dark studio background during a couples photo shoot with Emotion Studios">
                        </span>
                        <span class="gallery__text">Couples &amp; Makeovers</span>
                    </a>
                </div>
            </div>
            <div class="gallery__column">
                <div class="gallery__item">
                    <a href="/shoots/toddlers-kids/" class="gallery__link">
                        <span class="gallery__image-container">
                            <img class="gallery__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-4608-1.jpg?t=1663249545" alt="Black and White picture of a little girl smiling" title="Black and White picture of a little girl smiling">
                        </span>
                        <span class="gallery__text">Toddlers &amp; Kids</span>
                    </a>
                </div>
                <div class="gallery__item">
                    <a href="https://emotionstudios.co.uk/promotional-vouchers/4-for-3-gift-voucher-offer/" class="gallery__link">
                        <span class="gallery__image-container">
                            <img class="gallery__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/emotion-products-shoot22101338718.jpg?t=1667121795" alt="Emotion Studios gift vouchers ready to add to any shoot voucher" title="Emotion Studios gift vouchers ready to add to any shoot voucher">
                        </span>
                        <span class="gallery__text">4 for 3 Gift Voucher offer</span>
                    </a>
                </div>
            </div>
            <div class="gallery__column">
                <div class="gallery__item">
                    <a href="/shoots/family-generations/" class="gallery__link">
                        <span class="gallery__image-container">
                            <img class="gallery__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-8977-header.jpg?t=1663249584" alt="Photograph of family of four with young children sat cuddled together on floor at Shropshire photography studio" title="Photograph of family of four with young children sat cuddled together on floor at Shropshire photography studio">
                        </span>
                        <span class="gallery__text">Families &amp; Generations</span>
                    </a>
                </div>
                <div class="gallery__item">
                    <a href="/shoots/pets/pets/" class="gallery__link">
                        <span class="gallery__image-container">
                            <img class="gallery__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-6413-copy.jpg?t=1660572705" alt="Stylised pet photograph of black and tan dog on grey studio background by Emotion Studios" title="Stylised pet photograph of black and tan dog on grey studio background by Emotion Studios">
                        </span>
                        <span class="gallery__text">Pets</span>
                    </a>
                </div>
            </div>
        </div>

            <p>
                Can't see the shoot you want?
            </p>
        <a href="/shoots/" class="button button--primary button--large">view all our photo shoots</a>
    </div>
</section>

</div><div data-widget-id="76f91ae0-17f4-45f8-8590-6f8741783c97" data-placement-id="aa8ac216-7f37-4225-971e-4dbe86f7ae27" data-placement-status="ACTIVE"><style>
    .sd-simple-text-76f91ae0-17f4-45f8-8590-6f8741783c97 {
      padding-top: 0px;
      padding-right: 60px;
      padding-bottom: 0px;
      padding-left: 0px;

      margin-top: 0px;
      margin-right: 30px;
      margin-bottom: 50px;
      margin-left: 40px;

    }

    .sd-simple-text-76f91ae0-17f4-45f8-8590-6f8741783c97 * {
      margin: 0;
      padding: 0;

        color: #333333;
        font-family: inherit;
        font-weight: 500;
        font-size: 20px;
        min-height: 20px;

    }

    .sd-simple-text-76f91ae0-17f4-45f8-8590-6f8741783c97 {
        text-align: center;
    }

    #sd-simple-text-editable-76f91ae0-17f4-45f8-8590-6f8741783c97 {
      min-width: 14px;
      line-height: 1.5;
      display: inline-block;
    }

    #sd-simple-text-editable-76f91ae0-17f4-45f8-8590-6f8741783c97[data-edit-mode="true"]:hover,
    #sd-simple-text-editable-76f91ae0-17f4-45f8-8590-6f8741783c97[data-edit-mode="true"]:active,
    #sd-simple-text-editable-76f91ae0-17f4-45f8-8590-6f8741783c97[data-edit-mode="true"]:focus {
      outline: 1px dashed #3C64F4;
    }

    #sd-simple-text-editable-76f91ae0-17f4-45f8-8590-6f8741783c97 strong,
    #sd-simple-text-editable-76f91ae0-17f4-45f8-8590-6f8741783c97 strong * {
      font-weight: bold;
    }
</style>

<div class="sd-simple-text-76f91ae0-17f4-45f8-8590-6f8741783c97 ">
  <div id="sd-simple-text-editable-76f91ae0-17f4-45f8-8590-6f8741783c97" data-edit-mode="">
    <p>At Emotion Studios, a bespoke photography studio, we specialise in turning life's precious moments into timeless works of art. Whether you're celebrating a special occasion, preserving family memories, or looking to create stunning professional portraits, our team of talented photographers is here to bring your vision to life.</p>
  </div>
</div>

</div>
  </div>
</div></div></div>

    <div data-content-region="main-content-secondary"><div data-layout-id="76ed9dc0-557d-4d9f-a367-1f94ee29ced8"><div data-sub-layout-container="5696011b-3a7b-4bc5-931c-1f5d53a1eeac" data-layout-name="Layout">
  <style data-container-styling="5696011b-3a7b-4bc5-931c-1f5d53a1eeac">
    [data-sub-layout-container="5696011b-3a7b-4bc5-931c-1f5d53a1eeac"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="5696011b-3a7b-4bc5-931c-1f5d53a1eeac"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="860f68d3-3817-4e23-8657-6011e775f84c">
    <style data-column-styling="860f68d3-3817-4e23-8657-6011e775f84c">
      [data-sub-layout="860f68d3-3817-4e23-8657-6011e775f84c"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="860f68d3-3817-4e23-8657-6011e775f84c"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="860f68d3-3817-4e23-8657-6011e775f84c"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="ef37dddb-8992-4daf-b047-829279d10660" data-placement-id="8ccb89b4-2b6c-48a1-8501-750d400b2d89" data-placement-status="ACTIVE"><div class="image-with-content image-with-content--grey">
    <div class="container">
        <div class="image-with-content__columns">
            <div class="image-with-content__column image-with-content__column--primary ">
                <img class="image-with-content__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/emotion-products-multi-ap-header.jpg?t=1677068585" alt="maternity and newborn photographs shown in a gold frame above a sofa in a bright room" title="maternity and newborn photographs shown in a gold frame above a sofa in a bright room">
            </div>
            <div class="image-with-content__column ">
                <h2>Products and Prices</h2>
                <p>A moment in time crafted, captured and preserved to be cherished forever. How will you display your portrait?</p>
                <a href="/your-investment/" class="button button--primary">view our display products</a>
            </div>
        </div>
    </div>
</div>
</div><div data-widget-id="8aba2ff7-310f-4adf-a5af-19d61a1c003a" data-placement-id="b5fd31cb-e47b-4b67-9100-8664ca77b1e0" data-placement-status="ACTIVE"><style>
  .sd-spacer-8aba2ff7-310f-4adf-a5af-19d61a1c003a {
    height: 50px;
  }
</style>

<div class="sd-spacer-8aba2ff7-310f-4adf-a5af-19d61a1c003a">
</div>
</div><div data-widget-id="3ed93c0c-8661-43ae-be71-2811d5add9d8" data-placement-id="9961db9a-885b-4257-a324-635a3dc855c5" data-placement-status="ACTIVE"><div class="testimonial">
    <div class="container">
        <div class="testimonial__headline">What our customers are saying</div>
        <section class="glide testimonial-widget glide--ltr glide--carousel glide--swipeable">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides" style="transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s; width: 20072px; transform: translate3d(-13896px, 0px, 0px);">
                    <li class="glide__slide glide__slide--clone" data-glide-autoplay="6000" style="width: 1504px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Emotion Studios are creative, fun, professional and a wonderful family feel. The whole team are a credit for their contributions to make your shoot personal to you. The images produced are of a real professional caliber. The photographer really brought my personality to life. The packages are available for every budget and need. Will gladly recommend this family studio to anyone looking for a tailored experience for your loved ones</p>
                        </div>
                        <p class="testimonial__author">Alex - Bridgnorth</p>
                    </li><li class="glide__slide glide__slide--clone" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Being a typical non-photogenic guy, I'm new to this whole photoshoot thing so was and whilst keen to do it, was expecting uncomfortable and forced experience. How wrong I was.  If family photoshoots are your thing, I doubt you could find anywhere better than Emotion Studios. If, like me, they are not your thing but you're going to give it a try, I'd recommend Emotion as a great place to make it as enjoyable as it possibly can be.</p>
                        </div>
                        <p class="testimonial__author">Ian - Halesowen</p>
                    </li><li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Emotion Studios were great at making it relaxing, the photographer we had was friendly and hilarious and the photo's just occurred naturally over a particularly fun hour. Returning to review our photos at a later date, the session was equally entertaining and the photo quality so good that it was hard to choose what not to buy. They really were that good and we can't wait to get our final prints.</p>
                        </div>
                        <p class="testimonial__author">James - Wolverhampton</p>
                    </li>
                    <li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Lovely photos thank you for creating wonderful memories for us </p>
                        </div>
                        <p class="testimonial__author">Hannah - Dudley</p>
                    </li>
                    <li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>my twin daughters had the teen makeover shoot, they loved the whole experience..the only downside was trying to choose the photos! ...we loved them all! everyone was so pleasant and welcoming and it was excellent how the photos are shown to you ..( the studio itself is beautiful)Thank you all x ....have now received photos...love love love them Thank you xxx</p>
                        </div>
                        <p class="testimonial__author">Jo - Cannock</p>
                    </li>
                    <li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>A lovely family experience! Super happy with the quality of our photos! - everyone was so friendly and happy!</p>
                        </div>
                        <p class="testimonial__author">Hannah - Shrewsbury</p>
                    </li>
                    <li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Definitely recommend. Had a photo shoot done of my grandson that he really enjoyed,  felt really emotional seeing all his photos and how he had been captured, very professional</p>
                        </div>
                        <p class="testimonial__author">Vicki - Telford</p>
                    </li>
                    <li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p> I would like to thank Emotion Studios for our newborn photoshoot. They were amazing. Made us feel really welcome and at ease. The photographer was very calm and soothing and was able to settle our little girl when needed. She took amazing shots and ensured the safety of our little girl at all times. We were very pleased that she also used our props in the photoshoot and created the pictures we wanted as well as her own ideas. We can't thank her enough for this amazing experience. Thank you!</p>
                        </div>
                        <p class="testimonial__author">Leona - Wednesbury</p>
                    </li>
                    <li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Very friendly and helpful, we have had our family photos done here for years. They are always superb. Staff are lovely, and easily cope with children, animals and large family groups with a smile. No pressure to buy you choose the photos you love, trouble is it's always all of em</p>
                        </div>
                        <p class="testimonial__author">Gary - Great Witley</p>
                    </li>
                    <li class="glide__slide glide__slide--active" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Emotion Studios are creative, fun, professional and a wonderful family feel. The whole team are a credit for their contributions to make your shoot personal to you. The images produced are of a real professional caliber. The photographer really brought my personality to life. The packages are available for every budget and need. Will gladly recommend this family studio to anyone looking for a tailored experience for your loved ones</p>
                        </div>
                        <p class="testimonial__author">Alex - Bridgnorth</p>
                    </li>
                    <li class="glide__slide" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Being a typical non-photogenic guy, I'm new to this whole photoshoot thing so was and whilst keen to do it, was expecting uncomfortable and forced experience. How wrong I was.  If family photoshoots are your thing, I doubt you could find anywhere better than Emotion Studios. If, like me, they are not your thing but you're going to give it a try, I'd recommend Emotion as a great place to make it as enjoyable as it possibly can be.</p>
                        </div>
                        <p class="testimonial__author">Ian - Halesowen</p>
                    </li>
                <li class="glide__slide glide__slide--clone" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px; margin-right: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Emotion Studios were great at making it relaxing, the photographer we had was friendly and hilarious and the photo's just occurred naturally over a particularly fun hour. Returning to review our photos at a later date, the session was equally entertaining and the photo quality so good that it was hard to choose what not to buy. They really were that good and we can't wait to get our final prints.</p>
                        </div>
                        <p class="testimonial__author">James - Wolverhampton</p>
                    </li><li class="glide__slide glide__slide--clone" data-glide-autoplay="6000" style="width: 1504px; margin-left: 20px;">
                        <div class="testimonial__slider-content">
                            <p>Lovely photos thank you for creating wonderful memories for us </p>
                        </div>
                        <p class="testimonial__author">Hannah - Dudley</p>
                    </li></ul>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
                <button class="button glide__bullet" data-glide-dir="=0"></button>
                <button class="button glide__bullet" data-glide-dir="=1"></button>
                <button class="button glide__bullet" data-glide-dir="=2"></button>
                <button class="button glide__bullet" data-glide-dir="=3"></button>
                <button class="button glide__bullet" data-glide-dir="=4"></button>
                <button class="button glide__bullet" data-glide-dir="=5"></button>
                <button class="button glide__bullet" data-glide-dir="=6"></button>
                <button class="button glide__bullet glide__bullet--active" data-glide-dir="=7"></button>
                <button class="button glide__bullet" data-glide-dir="=8"></button>
            </div>
        </section>
    </div>
</div>

</div>
  </div>
</div></div></div>

    <div data-content-region="main-content-testimonial"><div data-layout-id="b0351e56-ff36-4aa3-bd75-7323fe81bdb5"><div data-sub-layout-container="e0a5ee17-182c-4780-bafe-b95278048a86" data-layout-name="Layout">
  <style data-container-styling="e0a5ee17-182c-4780-bafe-b95278048a86">
    [data-sub-layout-container="e0a5ee17-182c-4780-bafe-b95278048a86"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="e0a5ee17-182c-4780-bafe-b95278048a86"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="461cdeb4-8be3-4d53-a902-29dc6c0d4a1c">
    <style data-column-styling="461cdeb4-8be3-4d53-a902-29dc6c0d4a1c">
      [data-sub-layout="461cdeb4-8be3-4d53-a902-29dc6c0d4a1c"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="461cdeb4-8be3-4d53-a902-29dc6c0d4a1c"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="461cdeb4-8be3-4d53-a902-29dc6c0d4a1c"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="62c66a2e-d0f3-4981-92a5-f3b2cbd291cc" data-placement-id="5e4762ad-65ae-4afa-8ea9-0d3b70c340c3" data-placement-status="ACTIVE"><div class="image-with-content image-with-content--grey">
    <div class="container">
        <div class="image-with-content__columns">
            <div class="image-with-content__column slim">
                <h2>Meet the team</h2>
                <p>We are a family-owned business and so proud of our team. It’s important that everyone here are not just creative and talented but understand the importance of outstanding customer service.</p>
                <a href="/meet-us/" class="button button--primary">find out more</a>
            </div>
            <div class="image-with-content__column image-with-content__column--primary slim">
                <img class="image-with-content__image" src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-4684.jpg?t=1677160983" alt="colourful group photo of the photographers and staff of Emotion Studios portrait studio Wolverhampton" title="colourful group photo of the photographers and staff of Emotion Studios portrait studio Wolverhampton">
            </div>
        </div>
    </div>
</div>
</div>
  </div>
</div></div></div>

    <div data-content-region="main-content-portfolio"><div data-layout-id="b0279db6-18ef-4578-b86d-a0e81f73998c"><div data-sub-layout-container="4b7b9566-e3fd-4701-b4bd-7cd8f4c21244" data-layout-name="Layout">
  <style data-container-styling="4b7b9566-e3fd-4701-b4bd-7cd8f4c21244">
    [data-sub-layout-container="4b7b9566-e3fd-4701-b4bd-7cd8f4c21244"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="4b7b9566-e3fd-4701-b4bd-7cd8f4c21244"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="25908797-53cd-433d-bc9b-af17dc6b008d">
    <style data-column-styling="25908797-53cd-433d-bc9b-af17dc6b008d">
      [data-sub-layout="25908797-53cd-433d-bc9b-af17dc6b008d"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="25908797-53cd-433d-bc9b-af17dc6b008d"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="25908797-53cd-433d-bc9b-af17dc6b008d"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="f3069997-1b67-474b-9216-6f10a1794a72" data-placement-id="c0d2a511-7cec-4e25-9a8a-a42625510a45" data-placement-status="ACTIVE"><section class="portfolio">
    <div class="container">
        <h2 class="portfolio__headline">See some recent photo shoot case studies</h2>
        <ul class="portfolio__items">
            <li class="portfolio__item">
                <a href="/studies/the-steventon-family/" class="portfolio__link">
                    <span class="portfolio__image-wrapper">
                        <img src="https://cdn11.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-06192.jpg?t=1677068325" alt="b&amp;w family photograph on black background showing a family of four photographed by Emotion Studios" title="b&amp;w family photograph on black background showing a family of four photographed by Emotion Studios">
                    </span>
                    <div class="portfolio__content">
                        <p>The Steventon Family</p>
                    </div>
                </a>
            </li>
            <li class="portfolio__item">
                <a href="/studies/the-pojoni-family/" class="portfolio__link">
                    <span class="portfolio__image-wrapper">
                        <img src="https://cdn10.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-9075-copy.jpg?t=1661254105" alt="a little girl kisses her brothers cheek while he smiles look into camera at Emotion Studios" title="a little girl kisses her brothers cheek while he smiles look into camera at Emotion Studios">
                    </span>
                    <div class="portfolio__content">
                        <p>The Pojoni Family</p>
                    </div>
                </a>
            </li>
            <li class="portfolio__item">
                <a href="/studies/willow-the-spaniel/" class="portfolio__link">
                    <span class="portfolio__image-wrapper">
                        <img src="https://cdn10.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/dsc-5710.jpg?t=1661254827" alt="a spaniel looks straight into camera while photographed by Emotion Studios pet photographer in Wolverhampton" title="a spaniel looks straight into camera while photographed by Emotion Studios pet photographer in Wolverhampton">
                    </span>
                    <div class="portfolio__content">
                        <p>Willow the Spaniel</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
</div>
  </div>
</div></div></div>
</div>


    <div data-content-region="page_builder_after_page_content"><div data-layout-id="24fa05f7-251d-4775-abc9-8480f36c384d"><div data-sub-layout-container="280fbc78-6da9-419d-a0cc-847df7eae16c" data-layout-name="Layout">
  <style data-container-styling="280fbc78-6da9-419d-a0cc-847df7eae16c">
    [data-sub-layout-container="280fbc78-6da9-419d-a0cc-847df7eae16c"] {
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      z-index: 0;
      position: relative;
    }
    [data-sub-layout-container="280fbc78-6da9-419d-a0cc-847df7eae16c"]:after {
      background-position: center center;
      background-size: cover;
      z-index: auto;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  </style>
  <div data-sub-layout="32b992ac-5bbb-461f-a5f5-f8037ea28490">
    <style data-column-styling="32b992ac-5bbb-461f-a5f5-f8037ea28490">
      [data-sub-layout="32b992ac-5bbb-461f-a5f5-f8037ea28490"] {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        flex-basis: 100%;
        max-width: 100%;
        z-index: 0;
        justify-content: center;
        padding-right: 10.5px;
        padding-left: 10.5px;
        position: relative;
      }
      [data-sub-layout="32b992ac-5bbb-461f-a5f5-f8037ea28490"]:after {
        background-position: center center;
        background-size: cover;
        z-index: auto;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      @media only screen and (max-width: 700px) {
        [data-sub-layout="32b992ac-5bbb-461f-a5f5-f8037ea28490"] {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    </style>
    <div data-widget-id="76f7bdb8-a83a-43c7-9d52-323d7c940442" data-placement-id="cdc9c044-1c49-42f0-af1f-292c85975ba8" data-placement-status="ACTIVE"><script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Emotion Studios",
  "image": "https://cdn10.bigcommerce.com/s-kuqa5rpc/images/stencil/original/image-manager/emotion-staff202019572-edit-copy.jpg",
  "@id": "https://emotionstudios.co.uk/",
  "url": "https://emotionstudios.co.uk/",
  "telephone": "+441746 710128",
  "priceRange": "££",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Upper Aston Farm, Upper Aston, Claverley",
    "addressLocality": "Wolverhampton",
    "postalCode": "WV5 7EE",
    "addressCountry": "GB"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 52.5438919,
    "longitude": -2.2777445
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday"
    ],
    "opens": "09:00",
    "closes": "17:00"
  },
  "sameAs": [
    "https://www.facebook.com/emotionstudiosltd",
    "https://www.instagram.com/emotionstudiosuk/"
  ] 
}
</script>
</div>
  </div>
</div></div></div>

    <div id="modal" class="modal" data-reveal="" data-prevent-quick-search-close="">
    <button class="modal-close" type="button" title="Close">
    <span class="aria-description--hidden">Close</span>
    <span aria-hidden="true">×</span>
</button>
    <div class="modal-content"></div>
    <div class="loadingOverlay" style="display: none;"></div>
</div>
    <div id="alert-modal" class="modal modal--alert modal--small" data-reveal="" data-prevent-quick-search-close="">
    <div class="swal2-icon swal2-error swal2-icon-show"><span class="swal2-x-mark"><span class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>

    <div class="modal-content"></div>

    <div class="button-container"><button type="button" class="confirm button" data-reveal-close="">OK</button></div>
<div class="loadingOverlay" style="display: none;"></div></div>
</main>
<div data-content-region="footer_above"></div>
<div data-content-region="footer_above--global"></div>