.header {
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative
}

.header--scrolled {
    position: fixed;
    top: 0;
    left: 0;
    right: 0
}

.fPage--default .header,.fPage--hero .header {
    background: 0 0;
    position: fixed;
    border: none
}

.fPage--default .header,.fPage--default .header *,.fPage--hero .header,.fPage--hero .header * {
    color: #fff
}

.fPage--default .header--scrolled,.fPage--default .header.is-open,.fPage--default .header:focus,.fPage--default .header:hover,.fPage--hero .header--scrolled,.fPage--hero .header.is-open,.fPage--hero .header:focus,.fPage--hero .header:hover {
    background: #fff;
    border-bottom: 1px solid #dcdcdc
}

.fPage--default .header--scrolled,.fPage--default .header--scrolled *,.fPage--default .header.is-open,.fPage--default .header.is-open *,.fPage--default .header:focus,.fPage--default .header:focus *,.fPage--default .header:hover,.fPage--default .header:hover *,.fPage--hero .header--scrolled,.fPage--hero .header--scrolled *,.fPage--hero .header.is-open,.fPage--hero .header.is-open *,.fPage--hero .header:focus,.fPage--hero .header:focus *,.fPage--hero .header:hover,.fPage--hero .header:hover * {
    color: #383640
}

@media (min-width: 551px) {
    .header {
        height:180px
    }
}

@media (min-width: 801px) {
    .header {
        height:160px
    }

    .header.header--scrolled {
        height: 100px
    }

    .header.header--scrolled .header-logo {
        height: 100px
    }

    .header.header--scrolled .header-logo__link {
        height: 70px;
        width: 100px
    }
}

.header-logo {
    height: 120px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0
}

@media (min-width: 551px) {
    .header-logo {
        height:180px
    }
}

@media (min-width: 801px) {
    .header-logo {
        height:160px
    }
}

.header-logo__link {
    background: url("../img/logo-dark.svg") no-repeat;
    background-size: contain;
    text-indent: -10000px;
    width: 122px;
    height: 80px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.header-logo__link:after,.header-logo__link:before {
    display: none
}

@media (min-width: 551px) {
    .header-logo__link {
        width:153px;
        height: 100px
    }
}

.header--scrolled[class] .header-logo__link,.header.is-open .header-logo__link,.header:focus .header-logo__link,.header:hover .header-logo__link {
    background-image: url("../img/logo-dark.svg")
}

.fPage--default .header-logo__link,.fPage--hero .header-logo__link {
    background-image: url("../img/logo-light.svg")
}

.shopping-bag {
    display: none;
    position: absolute;
    top: 2.8125rem;
    right: 1rem;
    z-index: 100
}

.shopping-bag.is-visible {
    display: block
}

@media (min-width: 551px) {
    .shopping-bag {
        top:4.75rem
    }
}

@media (min-width: 801px) {
    .shopping-bag {
        top:4.1875rem
    }
}

@media (min-width: 1081px) {
    .shopping-bag {
        top:1rem
    }
}

.shopping-bag__link {
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    text-decoration: none
}

.shopping-bag__link .icon {
    stroke: #383640;
    height: 100%;
    width: 100%
}

.fPage--default .header .shopping-bag__link .icon {
    stroke: #ffffff
}

.fPage--default .header--scrolled .shopping-bag__link .icon,.fPage--default .header:hover .shopping-bag__link .icon {
    stroke: #383640
}

.shopping-bag__badge {
    position: absolute;
    top: -.3125rem;
    right: -.3125rem;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    text-align: center;
    font-size: 11px;
    background: #bfa380
}

.shopping-bag__label {
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: bottom
}

.mobileMenu-toggle {
    height: 120px;
    width: auto;
    font-size: inherit;
    text-transform: uppercase;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.5rem
}

@media (min-width: 551px) {
    .mobileMenu-toggle {
        height:180px
    }
}

@media (min-width: 801px) {
    .mobileMenu-toggle {
        height:160px;
        padding: 0 2.25rem
    }
}

@media (min-width: 1081px) {
    .mobileMenu-toggle {
        display:none
    }
}

.mobileMenu-toggle__close,.mobileMenu-toggle__text {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.is-open .mobileMenu-toggle__text {
    opacity: 0
}

.mobileMenu-toggle__close {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: absolute;
    opacity: 0
}

.is-open .mobileMenu-toggle__close {
    opacity: 1
}

.mobileMenu-toggle__bar {
    padding: 0;
    width: 30px;
    height: 2px;
    background-color: currentColor;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: absolute
}

.mobileMenu-toggle__bar--2,.mobileMenu-toggle__bar--3 {
    top: 13.5px
}

.mobileMenu-toggle__bar--3 {
    right: 0
}

.is-open .mobileMenu-toggle__bar--2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.is-open .mobileMenu-toggle__bar--3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
