.footer {
    -webkit-transform: none;
    transform: none;
    padding-top: 6rem;
    background: #f2f2f2
}

.footer a {
    text-decoration: none
}

.footer__newsletter {
    background: #383640;
    padding: 6rem 0;
    margin-bottom: 4.5rem;
    margin-top: -6rem
}

.footer__newsletter .form {
    width: 100%;
    max-width: 600px;
    margin: 0
}

.footer__newsletter .form-field {
    margin: 0
}

.footer__newsletter .button {
    margin: 0;
    width: auto;
    padding-left: 3rem;
    padding-right: 3rem
}

.footer__newsletter input[type=email],.footer__newsletter input[type=text] {
    height: 50px;
    border: none
}

.footer__newsletter-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.footer__newsletter-content {
    color: #fff;
    margin-bottom: .75rem;
    text-align: center
}

.footer__newsletter-title {
    margin-top: 0;
    font-size: 28px;
    color: #fff
}

.footer .footer-info-col {
    text-align: center
}

.footer .footer-info-heading {
    text-transform: uppercase;
    font-family: Lato,Arial,Helvetica,sans-serif;
    margin-bottom: .75rem
}

.footer address {
    margin-bottom: .75rem;
    font-style: normal;
    line-height: 28px
}

.footer .footer-info {
    margin-bottom: 3rem;
    line-height: 28px
}

.footer .footer-info * {
    color: #383640
}

.footer .footer-info-list {
    line-height: 28px
}

.footer .footer-copyright {
    text-align: center
}

.footer .footer-copyright .powered-by {
    font-size: 1rem;
    color: #383640
}
